# Integrates gnome-shell scripts with direnv
# So you can just type the name of the script instead of the full path
PATH_add tools
PATH_add tools/toolbox

echo -e "\033[1;34m=========================================================\033[0m"
echo -e "\033[1;32m                 Welcome to GNOME Shell!\033[0m"
echo -e "\033[1;34m=========================================================\033[0m\n"
echo -e "📖 New here? Check the GNOME Handbook: \033[4;36mhttps://handbook.gnome.org/\033[0m"
echo -e "💬 Matrix channels:"
echo -e "   • Shell Dev: \033[36m#gnome-shell:gnome.org\033[0m"
echo -e "   • Design UI:  \033[36m#design:gnome.org\033[0m"
echo -e ""
echo -e "🛠️  \033[1mGetting Started:\033[0m"
echo -e "  1. Create a dev Toolbox container:  \033[33mcreate-toolbox.sh\033[0m"
echo -e "  2. Build and run Mutter DevKit:      \033[33mbuild-and-run.sh\033[0m\n"
echo -e "You can also try out your changes on your real shell using with the following commands:"
echo -e "  $ \033[33mmeson-build.sh --sysext\033[0m"
echo -e "  $ \033[33mtoolbox-sysext-install.sh\033[0m"
echo -e "  $ \033[33mreboot\033[0m"
echo -e "\033[1;34m=========================================================\033[0m"
